<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Property List.plist
   SlideMenuControllerSwift

   Created by lalalu on 16/6/6.
   Copyright (c) 2016年 Yuji Hato. All rights reserved.
-->
<plist version="1.0">
    <array>
    <string>社团信息1</string>
    <string>社团信息2</string>
    <string>社团信息3</string>
    <string>社团信息4</string>
    <string>社团信息5</string>
    <string>社团信息6</string>
    <string>社团信息7</string>
    <string>社团信息8</string>
    <string>社团信息9</string>
    <string>社团信息10</string>
    <string>社团信息11</string>
    <string>社团信息12</string>
    <string>社团信息13</string>
    <string>社团信息14</string>
    <string>社团信息15</string>
</array>
</plist>
